/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  color-scheme: dark;
  --buld-color: #FF0070;
  --back-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --first-text-color: #FF0070;
  --first-text-color-translucent: rgba(255, 0, 112, 0.5);
  --head-text-color: #DB00FF;
  --shadow-text: #FF0070;
  --background-text-color: #FF0070;
  --second-text-color: #000028;
  --third-text-color: #F1B2CE;
  --buld-text-color: #FF0070;
}
