/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  color-scheme: light;
  --buld-color: #353430;
  --back-color: #fff1f7;
  --cover-image: url(../images/cover-image-light.png);
  --significant-text-color: #353430;
  --significant-text-color-translucent: rgba(50, 49, 45, 0.4);
  --head-text-color: #ffc2e6;
  --shadow-text: #FF8DCB;
  --background-text-color: #ff8dcb;
  --hover-background-text-color: #353430;
  --info-text-color: #353430;
  --buld-text-color: rgba(0, 0, 0, 0);
  --rec-img: none;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --buld-color: #353430;
    --back-color: #fff1f7;
    --cover-image: url(../images/cover-image-light.png);
    --significant-text-color: #353430;
    --significant-text-color-translucent: rgba(50, 49, 45, 0.4);
    --head-text-color: #ffc2e6;
    --shadow-text: #FF8DCB;
    --background-text-color: #ff8dcb;
    --hover-background-text-color: #353430;
    --info-text-color: #353430;
    --buld-text-color: rgba(0, 0, 0, 0);
    --rec-img: none;
  }
}
