p,
.buld,
.header__theme-menu-list,
.cover,
.cover_text,
h2{
  margin:0;
  padding: 0;
}

button,
.buld-text{
  font-family: "IBM Plex Mono", "Bold", "Regular";
}

.page{
  font-family: "IBM Plex Mono", "Bold", "Regular";

  margin:0px;
  height: 100vh;

  display: grid;
  justify-content: center;
}

.header{
  position: relative;
  display: grid;
}

.decorated-zone{
  position: relative;
  background-image: var(--cover-image);
  background-size: cover;
}

.buld{
  position: absolute;
  display: flex;
}

.buld-text{
  color: var(--buld-text-color);
  font-weight: 400;
  font-size: 18px;
}

.buld-top{
  top: 20px;
  right: 20px;
}

.buld-ellipse{
  position: relative;
  border-top: 1px solid var(--buld-color);
  border-right: 1px solid var(--buld-color);
  width: 25px;
  height: 25px;
}

.ellipse,
.ellipse-blur{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipse{
  background-color: var(--buld-text-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.ellipse-blur{
  position: absolute; 
  background: var(--buld-text-color); 
  width: 12px; 
  height: 12px; 
  filter: blur(4px);
}

.buld-bottom{
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--buld-color);
  border-left: 1px solid var(--buld-color);
  width: 25px;
  height: 25px;
}

.header__theme-menu{
  display: flex;
  justify-content: center;
}

.header__theme-menu-list{
  display: flex;
  padding-top: 20px;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-item{
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-item:hover{
  border: 1px solid var(--first-text-color-translucent);
}

.header__theme-menu-item:focus{
  border-bottom: 1px solid var(--first-text-color);
}

.header__theme-menu-button{
  background-color: rgba(0, 0, 0, 0); 
  border: none; 
  color: var(--first-text-color);
  font-weight: 400;
  font-size: 18px;
}

.cover-info{
  position: relative;
}

.cover{
  font-weight: 700;
  color: var(--head-text-color);
  text-shadow: 4px 4px var(--shadow-text);
  padding-bottom: 40px;
}

.text-head{
  font-size: clamp(116px, 74%, 157px);
}

.cover_text{
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--background-text-color);
  color: var(--second-text-color);
}

.info{
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}

.info:first-child{
  padding-top: 60px;
}

.info:not(:first-child):not(:last-child){
  display: grid;
  .paragraphs-info{
    display: flex;
    .paragraph-blocks{
      display: inline;
      width: 315px;
      .paragraph-text{
        padding-top: 10px;
      }
    }
  }
}

.info:first-child,
.info:last-child{
  display: flex;
  .paragraphs-info{
    .paragraph-blocks{
      width: 649px; /*сделать clamp*/
    }
  }
}

.topic-info{
  color: var(--first-text-color);
  width: 315px; /*сделать clamp*/
  font-weight: 700;
  font-size: 18px;
}

.paragraphs-info{
  display: grid;
  gap: 20px;
}

.paragraph-blocks{
  display: grid;
  gap: 10px;
}

.topic-text{
  font-weight: 700;
  font-size: 18px;
  background-color: var(--background-text-color);
  color: var(--second-text-color);
}

.paragraph-text{
  font-weight: 400;
  font-size: 18px;
  color: var(--third-text-color);
}

.link{
  color: var(--third-text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--shadow-text);
}

.link:hover{
  border-bottom: 1px solid var(--third-text-color);
}

.link:focus{
  border: 1px solid var(--third-text-color);
}

.info-img{
  display: grid;
  gap: 20px;
}

.photos{
  display: grid;
  gap: 20px;
}

.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cover{
  object-position: 50% 50%;
  object-fit: contain;
}

.footer{
  display: grid;
}

.footer_text{
  justify-self: center;
  align-self: center;
  color: var(--head-text-color);
  text-shadow: 2px 2px var(--shadow-text);
}

.main,
.footer,
.info-img{
  background-color: var(--back-color);
}

@media (min-width: 1024px) {
  .decorated-zone{
    width: 1024px;
    height: 768px;
  }

  .cover_text{
    width: 491px;
    right: 20px;
    bottom: 135px;
  }

  .main{
    display: grid;
    gap: 68px;
  }

  .info-img{
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photos{
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 260px 315px 428px;
  }

  .sunset{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .ice-cream{
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape{
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .fifth{
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer{
    width: 1024px;
    height: 768px;
    position: relative;
    padding-top: 65px;
    .buld-top{
      top: 85px;
    }
  }
}

@media (768px <= width < 1024px)  {
  body{
    width: 768px;
  }

  .decorated-zone{
    width: 768px;
    height: 1024px;
  }

  .header__theme-menu{
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    padding-top: 9px;
  }

  .header__theme-menu-list{
    display: grid;
    padding-top: 30px;
  }

  .cover{
    padding-bottom: 140px;
  }

  .cover_text{
    width: 364px;
    right: 20px;
    bottom: 209px;
  }

  .main{
    display: grid;
    gap: 90px;
  }

  .topic-info{
    width: 236px;
  }

  .info:not(:first-child):not(:last-child){
    display: grid;
    .paragraphs-info{
      display: grid;
      .paragraph-blocks{
        display: inline;
        width: 728px;
        .paragraph-text{
          padding-top: 10px;
        }
      }
    }
  }
  
  .info:first-child,
  .info:last-child{
    display: flex;
    .paragraphs-info{
      .paragraph-blocks{
        width: 472px; /*сделать clamp*/
      }
    }
  }

  .info-img{
    padding-top: 98px;
    padding-left: 20px;
    padding-right: 20px;
    width: 728px;
  }

  .photos{
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 192px 230px 318px;
  }

  .sunset{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .ice-cream{
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape{
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .fifth{
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer{
    width: 768px;
    height: 1024px;
    position: relative;
    padding-top: 65px;
    .buld-top{
      top: 80px;
    }
  }
}

@media (width < 768px)  {

  .decorated-zone{
    width: 375px;
    height: 668px;
  }

  .buld-top{
    top: 10px;
    right: 10px;
  }

  .buld-bottom{
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu{
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .header__theme-menu-list{
    display: grid;
    padding-top: 30px;
  }

  .cover{
    padding-left: 10px;
    padding-bottom: 150px;
    line-height: 96px;
  }

  .cover_text{
    width: 355px;
    right: 10px;
    left: 10px;
    bottom: 90px;
  }

  .main{
    width: 375px;
    display: grid;
    gap: 65px;
  }

  .topic-info{
    width: 355px;
  }

  .info{
    padding-left: 10px;
    padding-right: 10px;
  }

  .info:first-child{
    padding-top: 40px;
  }

  .info:not(:first-child):not(:last-child){
    display: grid;
    .paragraphs-info{
      display: grid;
      .paragraph-blocks{
        display: inline;
        width: 355px;
        .paragraph-text{
          padding-top: 10px;
        }
      }
    }
  }
  
  .info:first-child,
  .info:last-child{
    display: grid;
    .paragraphs-info{
      .paragraph-blocks{
        width: 355px; /*сделать clamp*/
      }
    }
  }

  .info-img{
    gap: 10px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    width: 355px;
  }

  .photos{
    display: grid;
    gap: 10px;
  }

  .sunset{
    width: 355px;
    height: 142px;
  }
  
  .ice-cream{
    width: 355px;
    height: 355px;
  }

  .tape {
    width: 355px;
    height: 237px;
  }
  
  .fouth{
    width: 355px;
    height: 355px;
  }

  .fifth{
    width: 355px;
    height: 237px;
  }

  .footer{
    width: 375px;
    height: 667px;
    position: relative;
    padding-top: 40px;
    .buld-top{
      top: 50px;
    }
  }
}
