p,
.buld,
.header__theme-menu-list,
.cover,
.cover_text,
h2 {
  margin: 0;
  padding: 0;
}

button,
.buld-text,
.rec::before {
  font-family: "IBM Plex Mono", sans-serif;
}

.page {
  font-family: "IBM Plex Mono", sans-serif;
  background-attachment: fixed;
  background-color: var(--back-color);
  margin: 0px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(width >= 768px){
  .page{
    gap: 60px;
  }
}

.header {
  position: relative;
  display: grid;
}

.decorated-zone {
  position: relative;
  width: clamp(23.438rem, 0rem + 100vw, 48rem);
  min-height: 668px;
  height: 100vh;
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px){
  .decorated-zone{
    width: clamp(48rem, 0rem + 100vw, 64rem);
  }
}

.buld-text {
  color: var(--buld-text-color);
  font-weight: 400;
  font-size: 18px;
}

.buld-top {
  position: absolute;
  top: 20px;
  right: 20px;
  position: absolute;
  border-top: 1px solid var(--buld-color);
  border-right: 1px solid var(--buld-color);
  width: 25px;
  min-height: 25px;
}

.buld-top::before {
  content: "REC";
  position: absolute;
  right: 8px;
  font-size: 18px;
  color: var(--buld-text-color);
  background-image: var(--rec-img);
  padding-right: 20px;
  background-position: center right;
  background-size: 9px;
  background-repeat: no-repeat;
}

.buld-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--buld-color);
  border-left: 1px solid var(--buld-color);
  width: 25px;
  min-height: 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  padding-top: 20px;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--significant-text-color-translucent);
}

.header__theme-menu-item:focus {
  border-bottom: 1px solid var(--significant-text-color);
}

.header__theme-menu-item:active{
  border: 1px solid var(--significant-text-color);
}

.header__theme-menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--significant-text-color);
  font-weight: 400;
  font-size: 18px;
}

.cover-info {
  position: relative;
}

.cover {
  font-weight: 700;
  color: var(--head-text-color);
  text-shadow: 4px 4px var(--shadow-text);
}

.text-head {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  .text-head {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;

  }
}

.cover_text {
  font-weight: 700;
  font-size: 18px;
  justify-self: end;
  width: clamp(22.75rem, -1.063rem + 49.609vw, 30.688rem);
  margin-left: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
  margin-right: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
  background-color: var(--background-text-color);
  color: var(--WithBackground-text-color);
}

@media (max-width: 768px){
  .cover_text{
    margin-top: 150px;
  }
}

.info {
  width: clamp(23.438rem, 0rem + 100vw, 48rem);
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}

@media (min-width: 768px){
  .info{
    width: clamp(48rem, 0rem + 100vw, 64rem);
  }
}

.info{
  display: flex;
}

.info-help{
  display: grid;

}

.topic-info {
  color: var(--first-text-color);
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 768px){
  .topic-info{
    width: clamp(14.75rem, -0.055rem + 30.844vw, 19.685rem);
  }
}

.paragraphs-info {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px){
  .paragraphs-info{
    width: clamp(29.5rem, -3.688rem + 69.141vw, 40.563rem);
  }
}

.paragraph-blocks {
  display: grid;
  gap: 10px;
}

.topic-text {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--background-text-color);
  color: var(--WithBackground-text-color);
}

.paragraph-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--third-text-color);
}

.link {
  color: var(--third-text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--shadow-text);
}

.link:hover {
  border-bottom: 1px solid var(--third-text-color);
}

.link:focus {
  border: 1px solid var(--third-text-color);
}

.info-img {
  display: grid;
  gap: 20px;
}

.photos {
  display: grid;
  gap: 20px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cover {
  object-position: 50% 50%;
  object-fit: contain;
}

.footer {
  display: grid;
  height: 100vh;
}

.footer_text {
  justify-self: center;
  align-content: center;
  color: var(--head-text-color);
  text-shadow: 2px 2px var(--shadow-text);
}

@media (min-width: 1024px) {
  .cover_text{
    max-height:71px;
    margin-top: 5px;
  }

  .main {
    display: grid;
    gap: 88px;
  }

  .info.info-help{
    display: grid;
    .paragraphs-info{
      display: flex;
      width: 984px;
      .paragraph-blocks{
        display: inline;
        width: 315px;
        .paragraph-text{
          padding-top: 10px;
        }
      }
    }
  }

  .info-img {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photos {
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 260px 315px 428px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    position: relative;
  }
}

@media (768px <= width < 1024px) {
  .decorated-zone{
    grid-template-rows: 438px 99px 462px;
  }

  .header__theme-menu {
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    padding-top: 9px;
  }

  .header__theme-menu-list {
    display: grid;
    padding-top: 30px;
  }

  .cover-info{
    padding-top: 100px;
  }

  .cover {
    height: 100px;
  }

  .cover_text {
    margin-top: 188px;
    height: 117px;
  }

  .main {
    display: grid;
    gap: 90px;
  }

  .info-help{
    .paragraphs-info{
      width: clamp(45.5rem, -2.5rem + 100vw, 61.5rem);
    }
  }

  .info-img {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photos {
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 192px 230px 318px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    position: relative;
  }
}

@media (width < 768px) {
  .header{
    grid-template-rows: 238px 192px 238px;
  }


  .buld-top {
    top: 10px;
    right: 10px;
  }

  .buld-bottom {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .header__theme-menu-list {
    display: grid;
    padding-top: 30px;
  }

  .cover {
    padding-left: 10px;
    line-height: 96px;
  }

  .cover_text{
    width: 355px;
    height: 117px;
    margin-top: 55px;
  }

  .main {
    display: grid;
    gap: 65px;
  }

  .info {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
  }

  .info:first-child {
    padding-top: 40px;
  }

  

  .info-img {
    gap: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 355px;
  }

  .photos {
    display: grid;
    gap: 10px;
  }

  .sunset {
    width: 355px;
    min-height: 142px;
  }

  .ice-cream {
    width: 355px;
    min-height: 355px;
  }

  .tape {
    width: 355px;
    min-height: 237px;
  }

  .books {
    width: 355px;
    min-height: 355px;
  }

  .street {
    width: 355px;
    min-height: 237px;
  }

  .footer {
    position: relative;
    margin-top: 20px;
  }
}
