/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex Mono", sans-serif;

  margin:0px;
  margin-left: 405px;

  display: grid;
}

.header{
  position: relative;
  display: grid;
  row-gap: 235px;
}

.buld{
  display: flex;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
}

.buld-two{
  position: absolute;
  width: 25px;
  height: 25px;
}

.buld-ellipse{
  position: relative;
  width: 25px;
  height: 25px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse{
  width: 9px;
  height: 9px;
}

.header__theme-menu{
  display: grid;
  justify-content: center;
}

.header__theme-menu-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  gap:10px;

  padding-top: 20px;
}

.header__theme-menu-button{
  width: 70px;
  text-transform:lowercase;
  font-weight: 400;
  font-size: 18px;
}

.cover-info{
  display: grid;
}

.cover_text-head{
  margin:0;
  font-weight: 700;
  display: flex;
  gap:94px;
}

.cover_text{
  font-weight: 700;
  font-size: 18px;

  display: flex;
  justify-self: end;
  margin-right: 20px;
}

.cover-image{
  position: relative;
  z-index: 0;
}

.topic-info{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.topic-text{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  min-height: 0;
}

.paragraph-text{
  font-weight: 400;
  font-size: 18px;
}

.photos{
  margin-top: 9px;
  display: grid;
}

.link{
  text-decoration: none;
}

.footer{
  position: relative;
}

@media (min-width: 1024px) {
  .page{
    width: 1024px;
  }

  .buld{
    top: 20px;
    right: 20px;
  }

  .buld-two{
    bottom: 10px;
    left: 10px;
  }

  .cover-image{
    position: absolute;
    object-fit: cover;
    
    width: 1024px;
    height: 768px;

    z-index: -1;
  }

  .header__theme-menu-list{
    display: flex;
  }

  .cover-info{
    row-gap: 80px;
  }

  .cover_text-head{
    font-size: 157px;
  }

  .cover_text{
    max-width: 491px;
  }

  .main{
    display: grid;
    padding-top: 195px;
    width: inherit;
  }

  .info:not(:last-child):not(:first-child){
    padding-top: 84px;
  }

  .info:last-child>div>div>.topic-text{
    width: 984px;
    margin-top: 72px;
  }

  .info{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .second-info.info{
    display: grid;
  }

  .paragraph-blocks{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .second-info>.paragraphs-info>.paragraph-blocks{
    width: 315px;
  }

  .topic-info{
    width: 315px;
  }

  .paragraphs-info{
    display: grid;
    row-gap: 25px;
    width: 649px;
  }

  .second-info>.paragraphs-info{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }

  .photos{
    grid-template-rows: 260px 315px 428px;
    grid-template-columns: 315px 315px 315px;
    gap: 20px;
  }

  .first-ph{
    background-image: url(/images/sunset.png);
    background-position: center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .second-ph{
    background-image: url(/images/ice-cream.png);
    background-position: center;
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/3;
  }
  
  .third-ph{
    background-image: url(/images/books.png);
    background-position: center;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .fourth-ph{
    background-image: url(/images/tape.png);
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .fifth-ph{
    background-image: url(/images/street.png);
    background-position: center;
    background-size: cover;
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer{
    margin-top: 65px;
    width: 1024px;
    height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    top:20px;
    right: 20px;
  }

  .footer_text{
    font-size: 157px;
    margin: 0;
  }

  .second-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom:20px;
    left: 20px;
  }
} 

@media (768px <= width < 1024px) {
  .page{
    width: 768px;
  }

  .header{
    row-gap: 145px;
  }

  .buld{
    top: 20px;
    right: 20px;
  }

  .buld-two{
    bottom: 20px;
    left: 20px;
  }

  .cover-image{
    position: absolute;
    object-fit: cover;
    
    width: 768px;
    height: 1024px;


    z-index: -1;
  }

  .header__theme-menu{
    padding-top: 175px;
    justify-content: end;
    padding-right: 21px;
  }

  .header__theme-menu-list{
    display: grid;
    row-gap: 13px;
  }

  .cover-info{
    row-gap: 130px;
  }

  .cover_text-head{
    font-size: 120px;
    gap: 75px;
  }

  .cover_text{
    max-width: 364px;
  }

  .main{
    display: grid;
    padding-top: 270px;
    width: inherit;
  }

  .info:not(:last-child):not(:first-child){
    padding-top: 84px;
  }

  .info:last-child>div>div>.topic-text{
    width: 984px;
    margin-top: 72px;
  }

  .info{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .second-info.info{
    display: grid;
  }

  .paragraph-blocks{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .second-info>.paragraphs-info>.paragraph-blocks{
    width: 728px;
  }

  .topic-info{
    width: 236px;
  }

  .paragraphs-info{
    display: grid;
    row-gap: 25px;
    width: 472px;
  }

  .second-info>.paragraphs-info{
    display: grid;
  }

  .photos{
    grid-template-rows: 192px 230px 318px;
    grid-template-columns: 230px 230px 230px;
    gap: 20px;
  }

  .first-ph{
    background-image: url(/images/sunset.png);
    background-position: center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .second-ph{
    background-image: url(/images/ice-cream.png);
    background-position: center;
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/3;
  }
  
  .third-ph{
    background-image: url(/images/books.png);
    background-position: center;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .fourth-ph{
    background-image: url(/images/tape.png);
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .fifth-ph{
    background-image: url(/images/street.png);
    background-position: center;
    background-size: cover;
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer{
    margin-top: 60px;
    width: 768px;
    height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    top:20px;
    right: 20px;
  }

  .footer_text{
    font-size: 120px;
    margin: 0;
  }

  .second-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom:20px;
    left: 20px;
  }
} 

@media (375px <= width < 768px) {
  .page{
    width: 365px;
  }

  .header{
    width: 375px;
    row-gap: 68px;
  }

  .buld{
    top: 10px;
    right: 10px;
  }

  .buld-two{
    bottom: 10px;
    left: 10px;
  }

  .cover-image{
    position: absolute;
    object-fit: cover;
    
    width: 375px;
    height: 668px;


    z-index: -1;
  }

  .header__theme-menu{
    width: 375px;
    padding-top: 55px;
    justify-content: end;
  }

  .header__theme-menu-list{
    display: grid;
    row-gap: 13px;
    padding-right: 10px;
  }

  .cover-info{
    row-gap: 53px;
    padding-left: 10px;
  }

  .cover_text-head{
    width: 375px;
    font-size: 120px;
    display: grid;
    gap: 10px;
    line-height: 90px;
  }

  .cover_text{
    max-width: 364px;
  }

  .main{
    display: grid;
    padding-top: 135px;
    width: inherit;
  }

  .info:not(:last-child):not(:first-child){
    padding-top: 60px;
  }

  .info:last-child>div>div>.topic-text{
    width: 355px;
    margin-top: 48px;
  }

  .info{
    display: grid;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .second-info.info{
    display: grid;
  }

  .paragraph-blocks{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .second-info>.paragraphs-info>.paragraph-blocks{
    width: 355px;
  }

  .topic-info{
    width: 355px;
  }

  .paragraphs-info{
    display: grid;
    row-gap: 25px;
    width: 355px;
  }

  .second-info>.paragraphs-info{
    display: grid;
  }

  .photos{
    display: grid;
    margin: 0;
    gap: 10px;
  }

  .first-ph{
    background-image: url(/images/sunset.png);
    background-position: center;
    background-size: contain;
    width: 355px;
    height: 142px;
  }
  
  .second-ph{
    background-image: url(/images/ice-cream.png);
    background-position: center;
    background-size: contain;
    width: 355px;
    height: 355px;
  }
  
  .third-ph{
    background-image: url(/images/tape.png);
    background-position: center;
    background-size: contain;
    width: 355px;
    height: 237px;
  }
  
  .fourth-ph{
    background-image: url(/images/books.png);
    background-position: center;
    background-size: contain;
    width: 355px;
    height: 355px;
  }
  
  .fifth-ph{
    background-image: url(/images/street.png);
    background-position: center;
    background-size: contain;
    width: 355px;
    height: 237px;
  }

  .footer{
    margin-top: 40px;
    width: 375px;
    height: 668px;    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    top:10px;
    right: 10px;
  }

  .footer_text{
    font-size: 120px;
    margin: 0;
  }

  .second-buld{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom:10px;
    left: 10px;
  }
} 
