/*
  Переменные для вашего проекта
*/
:root{
  --buld-color: #FF0070;
  --back-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --first-text-color: #FF0070;
  --first-text-color-translucent: rgba(255, 0, 112, 0.5);
  --head-text-color: #DB00FF;
  --shadow-text: #FF0070;
  --background-text-color: #FF0070;
  --second-text-color: #000028;
  --third-text-color: #F1B2CE;
  --buld-text-color: #FF0070;
  --rec-img: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="%23FF0070" filter="drop-shadow(0px 0px 4px %23FF0070)" cx="50" cy="50" r="42" /></svg>');
}
